# https://github.com/Zimbra-Community/zimbra-tools/blob/master/zimbra.service
# systemd integration for Zimbra, cat this into /etc/systemd/system/zimbra.service
# And remove the /etc/init.d/zimbra file and all /etc/rc.*/*zimbra* crap before deploying this service file
[Unit]
Description=Zimbra Collaboration Suite
After=syslog.target network.target
Conflicts=sendmail.service exim.service postfix.service

[Service]
Type=forking
User=zimbra
Group=zimbra
Environment=PERL5LIB=/opt/zimbra/common/lib/perl5/x86_64-linux-thread-multi:/opt/zimbra/common/lib/perl5
Environment=PATH=/opt/zimbra/bin:/opt/zimbra/common/lib/jvm/java/bin:/opt/zimbra/common/bin:/opt/zimbra/common/sbin:/usr/sbin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
ExecStart=/opt/zimbra/bin/zmcontrol start
ExecStop=/opt/zimbra/bin/zmcontrol stop
ExecReload=/opt/zimbra/bin/zmcontrol restart

TimeoutSec=500

[Install]
WantedBy=multi-user.target